@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.button {
  @apply text-base mr-2.5 xs:mr-4 px-2.5 py-0.5 mb-2 bg-slate-200 text-slate-800 rounded-md hover:opacity-60
}

.strong-button {
  @apply bg-slate-500 text-slate-50
}

.delete-button {
  @apply bg-red-100 text-red-600
}

.link {
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
  @apply opacity-60
}

.create-recipe-label {
  @apply text-lg font-bold mr-2 block
}

.create-recipe-input, .create-recipe-textarea {
  border: 1.5px solid;
  padding: 2px 0;
  @apply border-slate-800 rounded-md px-2
}

.create-recipe-input {
  @apply mr-2 mb-2
}

.create-recipe-form-group {
  @apply py-1
}

.recipe-page-tag {
  padding: 2px 5px;
  border: 1px solid;
  @apply text-xs xs:text-sm text-slate-600 border-slate-600 w-fit rounded-md cursor-pointer hover:opacity-50
}
