@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.button {
  @apply mr-2 xs:mr-4 mb-2 bg-slate-200 text-slate-800 rounded-md py-1 px-2 hover:opacity-60
}

.link {
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
  @apply text-slate-400
}

.log-in-out {
  @apply bg-slate-500 text-slate-50
}
